body {
  background-color: #f8f9fa;
}

.container-section-login {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-left: 300px;
  margin-top: 170px;
  width: 600px;
}

.login {
  display: flex;
  flex-direction: column;
  padding: 70px;
}

input, button {
  border: 1px solid #e1e5eb;
  border-color: #e9ecef;
  border-radius: 5px;
  margin-bottom: 5px;
  padding: 9px;
}

button {
  background-color: #e96aff;
  color: white;
  margin-top: 10px;
  padding: 10px;
}

button:disabled {
  background-color: #f3afff;
}

.logo {
  color: #212529;
  font-size: 18px;
  margin-bottom: 30px;
  text-align: center;
}

.container {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
}

.email-user, .container-value-total {
  background-color: white;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.container-value-total span {
  margin-left: 10px;
}

.form-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-left: 30px;
  margin-right: 30px;
}

.description-input {
  width: 250px;
}

.form-header select {
  width: 130px;
  height: 30px;
  background-color: white;
}

input, select {
  border-color: white;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.btn-form {
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

th {
  padding-left: 40px;
  padding-top: 25px;
}

td {
  padding-left: 70px;
  padding-top: 25px;
}


.div-table {
  padding-right: 40px;
  padding-left: -30px;
}

.cambio-header {
  color: rgb(139, 216, 23);
}

.delete-btn {
  background-color: rgb(255, 81, 81);
}